/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-Inter), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-normal);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  width: clamp(375px, 48.62vw , 700px);
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent-color, #000);
  background: var(--background-color, #FFF);
  text-align: center;
  gap: 23px;
  font-family: var(--font-PressStart2P);
  padding: clamp(120px, calc(8.333vw + 16px), 136px) 0 25px;
  margin: 100px auto;
}

.header-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header-content {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  padding-left: 18px;
}
.theme-menu__button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -14px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color, #000);
  background: var(--background-color, #FFF);
}

.main-card-title {
  font-weight: var(--font-weight-bold);
  padding: 22px 18px;
}

.main-card-content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 27px;
  line-height: 21px;
}

.main-card-img {
  position: relative;
}

.image {
  width: 100%;
}

.main-card-watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-PressStart2P);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--background-color);
  color: var(--accent-color);
  /*opacity: 0.5;*/
}

